.form-div {
  p {
    width: 200px;
  }
  form {
  }
  input {
    // width: 40%;
    font-size: 20px;
    font-weight: 400;
    font-family: inherit;
  }

  .form-group label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .form-group select {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
